<header class="navigation">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Преимущества</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<section class="slick">
  <div class="container">
    <div class="single-item wow backInDown">
      <div><img src="../assets/images/img1.png" class="image-slider" alt="Чай с лемоном"></div>
<!--      <div><img src="../assets/images/img2.png" class="image-slider" alt="Чай вечером"></div>-->
<!--      <div><img src="../assets/images/img3.png" class="image-slider" alt="Фркутовый чай"></div>-->
    </div>

  </div>
</section>
<section class="products wow backInLeft">
  <p class="fs-1 text-center fw-bold mt-5 mb-5">Наши чайные коллекции</p>
  <div class="container mb-3">
    <div class="container text-left">
      <div class="row row-col-3 gy-4 justify-content-between">
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea1.png" class="card-img-top" alt="Детокс">
          <div class="card-body">
            <h5 class="card-title">Детокс чай лайм</h5>
            <p class="card-text"> Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea2.png" class="card-img-top" alt="Ягодный чай">
          <div class="card-body">
            <h5 class="card-title">Ягодный чай</h5>
            <p class="card-text"> Нотки ягод позволят вам расслабиться и насладиться великолепием этого
              чая</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea3.png" class="card-img-top" alt="Цветочный чай">
          <div class="card-body">
            <h5 class="card-title">Цветочный чай</h5>
            <p class="card-text"> Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea4.png" class="card-img-top" alt="Очищающий чай">
          <div class="card-body">
            <h5 class="card-title">Очищающий чай</h5>
            <p class="card-text"> Бесподобный чай для получения утреннего заряда бодрости</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea5.png" class="card-img-top" alt="Кислый чай">
          <div class="card-body">
            <h5 class="card-title">Кислый чай</h5>
            <p class="card-text"> Кислый чай для настоящих ценителей кислинки во время чаепития</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="../assets/images/tea6.png" class="card-img-top" alt="Детокс">
          <div class="card-body">
            <h5 class="card-title">Лимонная мята</h5>
            <p class="card-text"> Смесь лимона с мятой сделает ваш день самым лучшим</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <p class="fs-1 text-center fw-bold mb-5">Ответы на часто задаваемые вопросы</p>
    <div id="accordion">
      <h3>Собираете ли вы подарочные боксы?</h3>
      <div>
        <p>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </p>
      </div>
      <h3>Сколько у вас разновидностей чая?</h3>
      <div>
        <p>
          Около 50 лучших отобранных сортов чая. Коллекция постоянно пополняется.
        </p>
      </div>
      <h3>В какой срок осуществляется доставка?</h3>
      <div>
        <p>
          При заказе до обеда, доставка будет отправлена в этот же день.
          Если во второй половине дня, то курьер возьмет заказ на следующий день.
          Мы всегда на связи для обсуждения деталей доставки.
        </p>
      </div>
      <h3>У вас обновляется ассортимент?</h3>
      <div>
        <p>
          Да каждый раз мы находим новые изысканные вкусы для вам
          и обновляем нашу коллекцию
        </p>
      </div>
      <h3>Какого объема у вас пачки чая?</h3>
      <div>
        <p>
          Объемы чая расчитаны на каждого. Есть объемы на большую семью.
          Такой пачки вам хватит надолго. Есть средние и совсем компактные размеры.
          Вашему вниманию предлагается весовой и пакетированный чаи.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="order">
  <div class="container">
    <form class="row g-3 wow backInRight" id="order-form">
      <p class="fs-1 text-center fw-bold mb-5">Сделать заказ</p>
      <div class="col-md-4">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="col-md-4">
        <label for="surname" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="surname">
      </div>
      <div class="col-md-4">
        <label for="phone" class="form-label">Телефон</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="col-md-6">
        <label for="country" class="form-label">Страна</label>
        <input type="text" class="form-control" id="country">
      </div>
      <div class="col-md-6">
        <label for="post-code" class="form-label">Индекс</label>
        <input type="text" class="form-control" id="post-code">
      </div>
      <div class="col-12">
        <label for="address" class="form-label">Адрес</label>
        <input type="text" class="form-control" id="address">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary order-btn">Отправить</button>
      </div>
    </form>
    <div class="text-submit-success" id="text-submit-success">
      <p>Спасибо за заказ. Мы свяжемся с вами в ближайшее время!.</p>
    </div>
  </div>
</section>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="ps-3 pt-4 pb-4 fs-5">Все права защищены</span>
  </div>
</nav>
